<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="author" content="@rikiji">
    <meta name="description" content="a blog">
    <meta name="viewport" content="width=device-width">
    <link href="atom.xml" type="application/atom+xml" rel="alternate">

    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/vendor/modernizr.js"></script>
    <script src="/scripts/vendor/jquery-1.9.1.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Crimson+Text:400,600" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="row-fluid">
      <div id="content" class="span9">
	{{ content }}
      </div>
      <div id="sidebar" class="span3">
	<div class="sidebar-nav sidebar-nav-fixed">
	  <h1><a href="http://{{ site.domain }}">{{ site.title }}</a></h1>
	  <hr>
	  <ul class="unstyled">
	    <li><a href="http://{{ site.domain }}/posts.html">posts</a> <i class="icon-comment"></i> </li>
	    <li><a href="http://{{ site.domain }}/about.html">about</a> <i class="icon-user"></i></li>
	  </ul>
	</div>
      </div>
    </div>

    <script>
      var _gaq=[['_setAccount','UA-30381469-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

    <script src="/scripts/main.js"></script>
  </body>
</html>
