---
layout: default
---

<div class="top">
  <h2><a href="http://{{ site.domain }}{{ page.url }}">{{ page.title }}</a></h2>
  <h3>{{ page.date | date: "%B %d %Y" }}</h3>
</div>
<div class="post">
  
  {{ content }}
  
  <div class="addthis_toolbox addthis_default_style" addthis:url="http://{{ site.domain }}{{ page.url }}" addthis:title="{{ page.title }}" addthis:description="{{ page.content | strip_html | truncatewords: 20 }}">
    <a class="addthis_button_reddit"></a>    
    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_twitter"></a>
    <a class="addthis_button_google_plusone" g:plusone:count="false"></a>
    <a class="addthis_counter addthis_bubble_style"></a>
  </div>

</div>
<hr>

{% include bottom.html %}
